[Unit]
Description=Blinux Setup Service
After=apparmor.service local-fs.target plymouth-start.service
Before=getty@tty1.service xdm.service network.service NetworkManager.service SuSEfirewall2_init.service SuSEfirewall2.service
RefuseManualStart=true

[Service]
Type=oneshot
Environment=SYSTEMCTL_OPTIONS=--ignore-dependencies TERM=linux
# firewall will be started by YaST Second Stage
# ensure current queue doesn't block YaST starting it
ExecStartPre=-/usr/bin/plymouth --hide-splash
ExecStopPost=-/usr/bin/systemctl poweroff
ExecStart=/usr/sbin/bocal-setup
RemainAfterExit=yes
TimeoutSec=0
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
KillMode=process
IgnoreSIGPIPE=no

# Bash ignores SIGTERM, so we send SIGHUP instead, to ensure that bash
# terminates cleanly.
KillSignal=SIGHUP

[Install]
WantedBy=default.target

