[Unit]
Description=Blinux Update Service
After=apparmor.service local-fs.target
Before=getty@tty1.service xdm.service network.service NetworkManager.service SuSEfirewall2_init.service SuSEfirewall2.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/blinux-setup
RemainAfterExit=yes
TimeoutSec=0
ExecStartPost=/usr/bin/systemctl restart systemd-vconsole-setup.service
StandardInput=tty

[Install]
WantedBy=multi-user.target
